
.file-line
  cursor: pointer
  color: var(--main-font-color)
  font-size: 0.8em
  font-weight: normal
  padding: 0.25em 0.5em 0.25em
  border-bottom: 1px solid #505050

.file-line > a
  color: var(--main-font-color)

.file-path
  color:var(--main-font-color)


.preview
  align-self: flex-start
  width: 100%
